<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Dieta Vegana</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    

    <div class="config-container">
        <a style="text-decoration: none;" href="{% url 'home' %}" class="config-button">
            🏠
        </a>
    </div>

    <div class="background">
        <div class="container">
            <h1>Configurações</h1>
            <h2>Faça aqui o upload de uma nova fonte de dados</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>
