<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Dieta Vegana</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="config-container">
        <a style="text-decoration: none;" href="{% url 'config' %}" class="config-button">
            ⚙️
        </a>
    </div>
    
    <div class="background">
        <div class="container">
            <h1>Calculadora de Dieta Vegana</h1>
            <form action="/resultados" method="GET">
                {% csrf_token %}
                {{ form.as_p }}

                <label for="calorias">Calorias (kcal):</label>
                <input type="number" name="calorias" id="calorias" value="2400">

                <div class="div-wrapper">
                    <div>
                        <label for="lipidios_min">Gorduras Minimo(g):</label>
                        <input type="number"  name="lipidios_min" id="lipidios" value="50" class="dual">
                    </div>
                    <div>
                        <label for="lipidios_max">Gorduras Máximo(g):</label>
                        <input type="number"  name="lipidios_max" id="lipidios" value="500" class="dual">
                    </div>
                </div>

                <label for="proteinas">Proteínas (g):</label>
                <input type="number" name="proteinas" id="proteinas" value="25">

                <label for="carboidratos">Carboidratos (g):</label>
                <input type="number" name="carboidratos" id="carboidratos" value="100">

                <label for="ferro">Ferro (mg):</label>
                <input type="number" name="ferro" id="ferro" value="4">

                <label for="calcio">Cálcio (g):</label>
                <input type="number" name="calcio" id="calcio" value="8">

                <label for="vitamina-c">Vitamina C (mg):</label>
                <input type="number" name="vitamina-c" id="vitamina-c" value="200">

                <label for="fibra">Fibra (g):</label>
                <input type="number" name="fibra" id="fibra" value="10">

                <div class="div-wrapper">
                    <div>
                        
                    <label for="sodio_min">Sódio Mínimo(mg):</label>
                    <input type="number" name="sodio_min" id="sodio" value="200">
                    </div>
                    <div>
                    <label for="sodio_max">Sódio Máximo(mg):</label>
                    <input type="number" name="sodio_max" id="sodio" value="2000">
                    </div>
                </div>

                <button type="submit">Calcular</button>
            </form>
        </div>
    </div>
</body>
</html>
