<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Dieta Vegana</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    
    <div class="background">
        <div class="container">
            <h1>Resultado</h1>
            <form action="{% url 'home' %}" method="get">
                
                


                <button type="submit">Calcular Novamente</button>
            </form>
        </div>
    </div>
</body>
</html>
