<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Dieta Vegana</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    
    <div class="background">
        <div class="config-container">
        <a style="text-decoration: none;" href="{% url 'home' %}" class="config-button">
            🏠
        </a>
        <a style="text-decoration: none;" href="{% url 'config' %}" class="config-button">
            ⚙️
        </a>
    </div>
        <div class="container">
            <h1>Resultado</h1>
            <table clas = "table">
                <thead class="table-light">
                    <tr>
                        <th>Alimento</th> 
                        <th>Quantidade(g)</th>
                        <th>Preço</th>
                    </tr>
                </thead>
            {% for resultado in resultados %}
            <tr> 
            <td>{{resultado.item }}</td>
            <td>{{resultado.value }}</td>
            <td>R${{resultado.price}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total: </td>
                <td></td>
                <td>R${{total}}</td>
            </tr>
            </table>
            
            <form action="{% url 'home' %}" method="get">
                <button type="submit" class="recalcular">Calcular Novamente</button>
            </form>
        </div>
    </div>
</body>
</html>
